/*-reset-*/
html, body, div, span, p, 
a,img,li,ul,h1,h2,h3,h4,h5,textarea,input,table,tbody,tr,td,dd,dl,dt{
    margin:0;
    padding:0;
    border:none;
    text-decoration:none;
    font-weight:normal;
}

ul{
    list-style:none;
}

.clearfix:after{
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}

.clearfix {
    zoom:1;
}


/*-reset-fininsh-*/


/*-out-line-*/
body{
    background-color: rgb(250, 245, 245);
    min-width:960px;
}

p{
    margin-bottom: .7em;
}

/*-out-line-finish-*/

/*-page-*/
.dianlogo_box{
    position: absolute;
    top: -40px;
    height:222px;
    width:222px;
    background:url(/img/1/logo_bg.png) no-repeat;
}

.dianlogo{
    position: absolute;
    width:100%;
    height: 100%;
    background: url(/img/1/dian.png) no-repeat ;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -90px;
}

#main{
    width: 100%;
}

/*--nav--*/
#nav {
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 50%;
    background-color: rgba(255,255,255, .5) !important;
    padding-left: 10px;
    margin: 0px 0 0 36px;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4cffffff', EndColorStr='#4cffffff');
}
#nav.at_top{
    margin-left: 70px;
}

#nav li{
    float:left;
    margin: 10px 10px 10px 0;
}

li.hide{
    display: none;
}

#nav a img{
    position: relative;
    transition: padding 0.3s;
    -moz-transition: padding 0.3s; 
    -webkit-transition: padding 0.3s; 
    -o-transition: padding 0.3s; 
}

#nav a:hover img{
    padding-top: 10px;
}
*html{
    background-image:url(about:blank);
    background-attachment:fixed;
}
* html #nav{
    position: absolute;
    bottom: auto;
    top:expression(eval(document.documentElement.scrollTop));
}
/*--nav-finish--*/


/*--common--*/

.section{
    position: relative;
    overflow: hidden;
    border-bottom: 5px solid #fcfafa;
    z-index: 0;
    /*fuck ie6*/
    min-height: 800px;
    _height:800px;
}
.section.timeline{
    _height: 100%;
}

.scroll_content{
    position: relative;
    zoom:1;
    z-index: -1;
    /*ie6 z-index必须将父级元素关系设置清楚*/
}

.layer{
    /*height: 2000px;*/
    height: 6000px;
    width: 2000px;
    background: no-repeat fixed;
    position: absolute;
    /*z-index: -1;*/
    top: 0px;
    left: 0px;
}
.layer1{
    background-position: 100% 0px;
}
.layer2{
    background-position: 90% 350px;
}
.layer3{
    background-position: 90% 600px;
}

.content{
    width: 960px;
    margin: 100px auto;
    z-index: 99;
}
.content .article{
    width: 500px;
    border-top: 6px solid #2a2a2a;
    padding: 1em 0.5em;
    margin-top: 1em;
    background: rgba(255,255,255, 0.5);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4cffffff', EndColorStr='#4cffffff');
}

/*--common-finish--*/


/*---first--*/
#first{
    background: url(/img/1/bg_1.jpg) no-repeat bottom;
}
#first .tenyear_box{
    width:89px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -44px;
    margin-top: -90px;
}

#first .tenyear{
    width:89px;
    height:201px;
    background: url(/img/1/ten.png) no-repeat center;
}

#first .lnk{
    position: absolute;
    top: -200px;
    left: -30px;
    width: 283px;
    height: 274px;
    background: url(/img/1/water.png) no-repeat ;

}
/*--first-finish--*/



/* The most important the little things */
.years_list{
    overflow: hidden;
    *zoom:1;
}
.year_box{
    float:left;
    padding-right: 10px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    overflow: hidden;
    position: relative;
    width: 95px;
    min-height: 81px;
    z-index: 99;
    border-right: 5px solid #858585;
    *zoom:1;
}
.year{
    position: absolute;
    top:0px;
    left:0px;
    width: 81px;
    height: 81px;
    background: url(/img/year.png) left top no-repeat;
    color: rgb(250,245,245);
    font-family: Arial, sans-serif;
    line-height:81px;
    text-align:center;
    padding-right: 14px;
    transition: top 1s;
    -moz-transition: top 1s; 
    -webkit-transition: top 1s; 
    -o-transition: top 1s; 
}
.year_itm{
    min-height: 130px;
    padding-bottom: 20px;
}
.things_list {
    margin-left:109px;
    overflow: hidden;
    zoom: 1;
}
.thing_itm{
    padding: 30px 0 15px 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #858585;
    border-radius: 0 0 0 10px;
    -moz-border-radius:0 0 0 10px;
}


/* input */
.form p{
    margin-bottom: 5px;
}
input, select, textarea{
    font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif;
    width: 300px;
    margin:0;
}
input[type="text"], textarea {
    width: 285px;
    max-width:285px;
    background: rgb(238,238,238);
    border: 1px solid rgb(204,204,204);
    margin-bottom: 15px;
}
input[type="text"], textarea{
    font-size: 12px;
    padding: 5px 7px;
    color: rgb(102,102,102);
}
input[type="text"]:focus, textarea:focus{
    background: white;
}
textarea{
    overflow: auto;
    vertical-align: text-top;
}
.submit-btn{
    height: 33px;
    color: white;
    background-color: #f7850a;
    border: 1px solid #f47602;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 12px;
}